/* .white{
    color: aquamarine;
} */
 /* div{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    margin: 10px;
    border: 2px solid burlywood;
    text-align: center;
 } */
  /* .dew{
    color: rgb(203, 174, 180);
  }
  .newdew{
    background-color: blue;
  } */
/* .dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
} */